In [1]:
import pandas as pd
import os

In [2]:
folder_path = r'C:\Users\krizm\Downloads\CSE482\CMSE482ProjectGithub\2023'
files = os.listdir(folder_path)
csv_files = [file for file in files if file.endswith('.csv')]

dfs = []

if len(csv_files) == 0:
    print("No CSV files found in the specified folder.")
else:
    for csv_file in csv_files:
        csv_file_path = os.path.join(folder_path, csv_file)
        try:
            df = pd.read_csv(csv_file_path, encoding='utf-8')
            team_name = csv_file.split('2023')[0]
            df.insert(1, 'Team', team_name)
            dfs.append(df)
        except Exception as e:
            print(f"Error reading file {csv_file}: {e}")

if len(dfs) == 0:
    print("No dataframes were created.")
else:
    concatenated_df = pd.concat(dfs, ignore_index=True)
    print(concatenated_df)

    Week     Team  Day          Date       Time  boxscore W/L   OT   Rec  \
0      1    49ers  Sun  September 10  1:00PM ET  boxscore   W  NaN   1-0
1      2    49ers  Sun  September 17  4:05PM ET  boxscore   W  NaN   2-0
2      3    49ers  Thu  September 21  8:15PM ET  boxscore   W  NaN   3-0
3      4    49ers  Sun     October 1  4:25PM ET  boxscore   W  NaN   4-0
4      5    49ers  Sun     October 8  8:20PM ET  boxscore   W  NaN   5-0
..   ...      ...  ...           ...        ...       ...  ..  ...   ...
611   14  vikings  Sun   December 10  4:05PM ET  boxscore   W  NaN   7-6
612   15  vikings  Sat   December 16  1:00PM ET  boxscore   L   OT   7-7
613   16  vikings  Sun   December 24  1:00PM ET  boxscore   L  NaN   7-8
614   17  vikings  Sun   December 31  8:20PM ET  boxscore   L  NaN   7-9
615   18  vikings  Sun     January 7  1:00PM ET  boxscore   L  NaN  7-10

    Home/Away  ...  RushY   TO  1stD.1  TotYd.1  PassY.1  RushY.1  TO.1  \
0           @  ...  188.0  1.0    15.0    239.0    198.0     41.0   2.0
1           @  ...  159.0  NaN    28.0    386.0    297.0     89.0   2.0
2         NaN  ...  141.0  NaN    10.0    150.0    121.0     29.0   1.0
3         NaN  ...  124.0  NaN    23.0    362.0    257.0    105.0   NaN
4         NaN  ...  170.0  1.0     8.0    197.0    140.0     57.0   4.0
..        ...  ...    ...  ...     ...      ...      ...      ...   ...
611         @  ...  132.0  NaN     8.0    202.0    146.0     56.0   3.0
612         @  ...  143.0  2.0    22.0    378.0    298.0     80.0   1.0
613       NaN  ...   17.0  4.0    28.0    389.0    246.0    143.0   1.0
614       NaN  ...   67.0  2.0    28.0    470.0    293.0    177.0   1.0
615         @  ...   89.0  2.0    19.0    381.0    311.0     70.0   NaN

     Offense  Defense  Sp. Tms
0       9.73    13.55    -0.78
1      12.36    -3.31    -2.05
2      19.00    11.82    -9.72
3      30.46    -9.72    -1.63
4      12.84    23.12    -5.21
..       ...      ...      ...
611   -10.05    20.46    -6.43
612     8.62    -9.29    -1.35
613    11.43   -15.44    -0.61
614   -14.27   -22.54    12.19
615     4.55   -17.81    -1.13

[616 rows x 26 columns]

In [3]:
concatenated_df

,Week,Team,Day,Date,Time,boxscore,W/L,OT,Rec,Home/Away,...,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms
0,1,49ers,Sun,September 10,1:00PM ET,boxscore,W,NaN,1-0,@,...,188.0,1.0,15.0,239.0,198.0,41.0,2.0,9.73,13.55,-0.78
1,2,49ers,Sun,September 17,4:05PM ET,boxscore,W,NaN,2-0,@,...,159.0,NaN,28.0,386.0,297.0,89.0,2.0,12.36,-3.31,-2.05
2,3,49ers,Thu,September 21,8:15PM ET,boxscore,W,NaN,3-0,NaN,...,141.0,NaN,10.0,150.0,121.0,29.0,1.0,19.00,11.82,-9.72
3,4,49ers,Sun,October 1,4:25PM ET,boxscore,W,NaN,4-0,NaN,...,124.0,NaN,23.0,362.0,257.0,105.0,NaN,30.46,-9.72,-1.63
4,5,49ers,Sun,October 8,8:20PM ET,boxscore,W,NaN,5-0,NaN,...,170.0,1.0,8.0,197.0,140.0,57.0,4.0,12.84,23.12,-5.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,14,vikings,Sun,December 10,4:05PM ET,boxscore,W,NaN,7-6,@,...,132.0,NaN,8.0,202.0,146.0,56.0,3.0,-10.05,20.46,-6.43
612,15,vikings,Sat,December 16,1:00PM ET,boxscore,L,OT,7-7,@,...,143.0,2.0,22.0,378.0,298.0,80.0,1.0,8.62,-9.29,-1.35
613,16,vikings,Sun,December 24,1:00PM ET,boxscore,L,NaN,7-8,NaN,...,17.0,4.0,28.0,389.0,246.0,143.0,1.0,11.43,-15.44,-0.61
614,17,vikings,Sun,December 31,8:20PM ET,boxscore,L,NaN,7-9,NaN,...,67.0,2.0,28.0,470.0,293.0,177.0,1.0,-14.27,-22.54,12.19
615,18,vikings,Sun,January 7,1:00PM ET,boxscore,L,NaN,7-10,@,...,89.0,2.0,19.0,381.0,311.0,70.0,NaN,4.55,-17.81,-1.13