In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# THE GOOD STUFF

In [21]:
df_2021 = pd.read_csv('2021data.csv')
df_2022 = pd.read_csv('2022data.csv')
df_2023 = pd.read_csv('2023data.csv')

In [22]:
# Convert Win to 1 and anything else to 0
df_2021['Result'] = df_2021['Result'].apply(lambda x: 1 if x == 'W' else 0) 

# 1 if OT, 0 if no OT
df_2021['OT'] = df_2021['OT'].fillna(0).replace('OT', 1)

# 1 is home, 0 is away
df_2021['H/A'] = df_2021['H/A'].fillna(1).replace('@', 0)

df_2021 = df_2021.drop(columns=['Day', 'Date', 'Time', 'Link', 'Rec', 'Week'])
df_2021 = df_2021.dropna()
df_2021 = df_2021.reset_index()
df_2021 = df_2021.drop(columns=['index'])
df_2021['Score_Tm'] = df_2021['Score_Tm'].astype(float)
df_2021 = df_2021[~(df_2021['H/A'] == 'N')]
df_2021['H/A'] = df_2021['H/A'].astype(float)
df_2021['OT'] = df_2021['OT'].astype(float)
df_2021['Result'] = df_2021['Result'].astype(float)
df_2021.pop('Opp')

df_2021.head()

C:\Users\bpawl\AppData\Local\Temp\ipykernel_12948\3988736548.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2021['OT'] = df_2021['OT'].fillna(0).replace('OT', 1)

,Team,Result,OT,H/A,Score_Tm,Score_Opp,Off_1stD,Off_TotYd,Off_PassYd,Off_RushYd,Off_TO,Def_1stD,Def_TotYd,Def_PassYd,Def_RushYD,Def_TO,Exp_Offense,Exp_Defense,Exp_SpecTms
0,49ers,1.0,0.0,0.0,41.0,33.0,21.0,442.0,311.0,131.0,2.0,31.0,430.0,314.0,116.0,1.0,15.48,-5.16,-1.73
1,49ers,0.0,0.0,0.0,10.0,17.0,19.0,338.0,186.0,152.0,1.0,20.0,304.0,210.0,94.0,1.0,-6.53,-1.74,-0.47
2,49ers,0.0,0.0,1.0,18.0,30.0,13.0,280.0,169.0,111.0,4.0,17.0,295.0,147.0,148.0,2.0,-15.30,-1.16,4.24
3,49ers,1.0,0.0,1.0,34.0,26.0,23.0,423.0,215.0,208.0,1.0,17.0,323.0,256.0,67.0,2.0,8.93,4.16,-6.10
4,49ers,0.0,0.0,0.0,23.0,30.0,17.0,365.0,294.0,71.0,3.0,21.0,327.0,181.0,146.0,3.0,-0.51,-2.27,-3.44

In [23]:
# Convert Win to 1 and anything else to 0
df_2022['Result'] = df_2022['Result'].apply(lambda x: 1 if x == 'W' else 0) 

# 1 if OT, 0 if no OT
df_2022['OT'] = df_2022['OT'].fillna(0).replace('OT', 1)

# 1 is home, 0 is away
df_2022['H/A'] = df_2022['H/A'].fillna(1).replace('@', 0)

df_2022 = df_2022.drop(columns=['Day', 'Date', 'Time', 'Link', 'Rec', 'Week'])
df_2022 = df_2022.dropna()
df_2022 = df_2022.reset_index()
df_2022 = df_2022.drop(columns=['index'])
df_2022['Score_Tm'] = df_2022['Score_Tm'].astype(float)
df_2022 = df_2022[~(df_2022['H/A'] == 'N')]
df_2022['H/A'] = df_2022['H/A'].astype(float)
df_2022['OT'] = df_2022['OT'].astype(float)
df_2022['Result'] = df_2022['Result'].astype(float)
df_2022.pop('Opp')

df_2022.head()

C:\Users\bpawl\AppData\Local\Temp\ipykernel_12948\288872902.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2022['OT'] = df_2022['OT'].fillna(0).replace('OT', 1)

,Team,Result,OT,H/A,Score_Tm,Score_Opp,Off_1stD,Off_TotYd,Off_PassYd,Off_RushYd,Off_TO,Def_1stD,Def_TotYd,Def_PassYd,Def_RushYD,Def_TO,Exp_Offense,Exp_Defense,Exp_SpecTms
0,49ers,0.0,0.0,0.0,10.0,19.0,17.0,331.0,155.0,176.0,2.0,15.0,204.0,105.0,99.0,1.0,-11.26,-0.67,0.42
1,49ers,1.0,0.0,0.0,37.0,15.0,22.0,397.0,244.0,153.0,1.0,15.0,308.0,244.0,64.0,1.0,16.04,13.22,-7.82
2,49ers,0.0,0.0,1.0,23.0,44.0,25.0,444.0,343.0,101.0,3.0,24.0,529.0,417.0,112.0,2.0,3.59,-30.58,8.50
3,49ers,1.0,0.0,1.0,22.0,16.0,22.0,387.0,230.0,157.0,1.0,12.0,238.0,187.0,51.0,1.0,6.20,7.29,-5.38
4,49ers,1.0,0.0,1.0,33.0,17.0,24.0,351.0,230.0,121.0,1.0,14.0,308.0,275.0,33.0,4.0,1.78,13.36,1.00

In [24]:
# Convert Win to 1 and anything else to 0
df_2023['Result'] = df_2023['Result'].apply(lambda x: 1 if x == 'W' else 0) 

# 1 if OT, 0 if no OT
df_2023['OT'] = df_2023['OT'].fillna(0).replace('OT', 1)

# 1 is home, 0 is away
df_2023['H/A'] = df_2023['H/A'].fillna(1).replace('@', 0)

df_2023 = df_2023.drop(columns=['Day', 'Date', 'Time', 'Link', 'Rec', 'Week'])
df_2023 = df_2023.dropna()
df_2023 = df_2023.reset_index()
df_2023 = df_2023.drop(columns=['index'])
df_2023['Score_Tm'] = df_2023['Score_Tm'].astype(float)
df_2023 = df_2023[~(df_2023['H/A'] == 'N')]
df_2023['H/A'] = df_2023['H/A'].astype(float)
df_2023['OT'] = df_2023['OT'].astype(float)
df_2023['Result'] = df_2023['Result'].astype(float)
df_2023.pop('Opp')

df_2023.head()

C:\Users\bpawl\AppData\Local\Temp\ipykernel_12948\3475630129.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2023['OT'] = df_2023['OT'].fillna(0).replace('OT', 1)

,Team,Result,OT,H/A,Score_Tm,Score_Opp,Off_1stD,Off_TotYd,Off_PassYd,Off_RushYd,Off_TO,Def_1stD,Def_TotYd,Def_PassYd,Def_RushYD,Def_TO,Exp_Offense,Exp_Defense,Exp_SpecTms
0,49ers,1.0,0.0,0.0,30.0,7.0,22.0,391.0,203.0,188.0,1.0,15.0,239.0,198.0,41.0,2.0,9.73,13.55,-0.78
1,49ers,1.0,0.0,1.0,42.0,10.0,25.0,421.0,251.0,170.0,1.0,8.0,197.0,140.0,57.0,4.0,12.84,23.12,-5.21
2,49ers,0.0,0.0,0.0,17.0,19.0,15.0,215.0,107.0,108.0,1.0,18.0,334.0,174.0,160.0,2.0,-6.05,11.32,-7.34
3,49ers,0.0,0.0,0.0,17.0,22.0,19.0,325.0,260.0,65.0,3.0,24.0,452.0,378.0,74.0,1.0,5.43,-16.30,6.07
4,49ers,0.0,0.0,1.0,17.0,31.0,24.0,460.0,347.0,113.0,3.0,29.0,400.0,266.0,134.0,1.0,9.25,-18.30,2.48

In [25]:
agg_2021 = df_2021.groupby(df_2021.columns[0]).mean().reset_index()

agg_2022 = df_2021.groupby(df_2022.columns[0]).mean().reset_index()

agg_2023 = df_2021.groupby(df_2023.columns[0]).mean().reset_index()

In [26]:
agg_2021.head()

,Team,Result,OT,H/A,Score_Tm,Score_Opp,Off_1stD,Off_TotYd,Off_PassYd,Off_RushYd,Off_TO,Def_1stD,Def_TotYd,Def_PassYd,Def_RushYD,Def_TO,Exp_Offense,Exp_Defense,Exp_SpecTms
0,49ers,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.000000,133.636364,1.636364,19.272727,309.727273,219.090909,90.636364,1.454545,3.477273,0.251818,-1.626364
1,bears,0.500000,0.000000,0.625000,17.625000,18.500000,18.625000,331.750000,212.750000,119.000000,2.000000,18.500000,271.625000,154.375000,117.250000,1.875000,-2.573750,3.120000,-0.567500
2,bengals,0.600000,0.200000,0.300000,26.900000,20.400000,18.900000,331.700000,223.200000,108.500000,1.700000,19.200000,342.300000,250.800000,91.500000,2.100000,2.364000,2.279000,2.332000
3,bills,0.666667,0.000000,0.444444,28.666667,12.111111,22.666667,358.333333,225.111111,133.222222,1.777778,14.777778,249.111111,146.111111,103.000000,2.111111,8.024444,9.343333,-1.233333
4,broncos,0.571429,0.000000,0.571429,19.857143,16.428571,20.428571,346.285714,221.857143,124.428571,1.285714,18.142857,317.000000,211.428571,105.571429,1.428571,4.684286,1.810000,-1.164286

In [27]:
df_2022 = pd.read_csv('2022data.csv')
df_2023 = pd.read_csv('2023data.csv')
#df_2024

mask = df_2022['Week'].isin(['Wild Card', 'Division', 'Conf. Champ.', 'SuperBowl'])
df_2022 = df_2022[~mask]
df_2022 = df_2022.dropna(subset = ['Opp'])
df_2022 = df_2022[df_2022['Opp'] != 'Bye Week'].reset_index()

mask = df_2023['Week'].isin(['Wild Card', 'Division', 'Conf. Champ.', 'SuperBowl'])
df_2023 = df_2023[~mask]
df_2023 = df_2023.dropna(subset = ['Opp'])
df_2023 = df_2023[df_2023['Opp'] != 'Bye Week'].reset_index()

In [28]:
wl_2022 = df_2022[['Result']]
wl_2023 = df_2023[['Result']]

df_2022 = df_2022[['Week', 'Team', 'Opp']]
df_2023 = df_2023[['Week', 'Team', 'Opp']]
#df_2024

In [29]:

# Create a mapping dictionary to convert team names
team_mapping = {
    'Chicago Bears': 'bears',
    'Seattle Seahawks': 'seahawks',
    'Denver Broncos': 'broncos',
    'Los Angeles Rams': 'rams',
    'Carolina Panthers': 'panthers',
    'Atlanta Falcons': 'falcons',
    'Kansas City Chiefs': 'chiefs',
    'Los Angeles Chargers': 'chargers',
    'Arizona Cardinals': 'cardinals',
    'New Orleans Saints': 'saints',
    'Miami Dolphins': 'dolphins',
    'Tampa Bay Buccaneers': 'buccaneers',
    'Washington Commanders': 'commanders',
    'Las Vegas Raiders': 'raiders',
    'Dallas Cowboys': 'cowboys',
    'Philadelphia Eagles': 'eagles',
    'San Francisco 49ers': '49ers',
    'Green Bay Packers': 'packers',
    'Houston Texans': 'texans',
    'New York Giants': 'giants',
    'Minnesota Vikings': 'vikings',
    'New England Patriots': 'patriots',
    'Detroit Lions': 'lions',
    'New York Jets': 'jets',
    'Buffalo Bills': 'bills',
    'Pittsburgh Steelers': 'steelers',
    'Baltimore Ravens': 'ravens',
    'Cleveland Browns': 'browns',
    'Tennessee Titans': 'titans',
    'Cincinnati Bengals': 'bengals',
    'Indianapolis Colts': 'colts',
    'Jacksonville Jaguars': 'jaguars'
}

# Map team names to their abbreviated versions in the 'Opp' column
df_2022['Opp'] = df_2022['Opp'].map(team_mapping)
df_2023['Opp'] = df_2023['Opp'].map(team_mapping)

In [30]:
df_2022_team = df_2022[['Week', 'Team']]
df_2022_opp = df_2022[['Week', 'Opp']]

df_2023_team = df_2023[['Week', 'Team']]
df_2023_opp = df_2023[['Week', 'Opp']]

In [31]:
df_2022_team = pd.merge(df_2022_team, agg_2021, how = 'left', on = 'Team')

for col in df_2022_team.columns:
    if col not in ['Team', 'Week']:
        df_2022_team.rename(columns={col: 'Team_' + col}, inplace=True)
     
     
df_2023_team = pd.merge(df_2023_team, agg_2022, how = 'left', on = 'Team')

for col in df_2023_team.columns:
    if col not in ['Team', 'Week']:
        df_2023_team.rename(columns={col: 'Team_' + col}, inplace=True)

In [32]:
df_2022_opp = pd.merge(df_2022_opp, agg_2021, how = 'left', left_on = 'Opp', right_on = 'Team')
df_2022_opp = df_2022_opp.drop(columns = 'Team')

for col in df_2022_opp.columns:
    if col not in ['Opp', 'Week']:
        df_2022_opp.rename(columns={col: 'Opp_' + col}, inplace=True)
        
df_2022_opp = df_2022_opp.drop(columns = ['Week'])


df_2023_opp = pd.merge(df_2023_opp, agg_2022, how = 'left', left_on = 'Opp', right_on = 'Team')
df_2023_opp = df_2023_opp.drop(columns = 'Team')

for col in df_2023_opp.columns:
    if col not in ['Opp', 'Week']:
        df_2023_opp.rename(columns={col: 'Opp_' + col}, inplace=True)
        
df_2023_opp = df_2023_opp.drop(columns = ['Week'])

In [33]:
df_2022_agg = pd.concat([df_2022_team, df_2022_opp], axis = 1)
df_2022_agg = pd.concat([df_2022_agg, wl_2022], axis = 1)

df_2023_agg = pd.concat([df_2023_team, df_2023_opp], axis = 1)
df_2023_agg = pd.concat([df_2023_agg, wl_2023], axis = 1)

In [34]:
df_2022_agg['Match'] = df_2022_agg.apply(lambda row: '-'.join(sorted([row['Team'], row['Opp']])), axis=1)
df_2022_agg = df_2022_agg.drop_duplicates(subset=['Match', 'Week'])
df_2022_agg = df_2022_agg.drop(columns=['Match'])

df_2023_agg['Match'] = df_2023_agg.apply(lambda row: '-'.join(sorted([row['Team'], row['Opp']])), axis=1)
df_2023_agg = df_2023_agg.drop_duplicates(subset=['Match', 'Week'])
df_2023_agg = df_2023_agg.drop(columns=['Match'])

df_2022_agg

,Week,Team,Team_Result,Team_OT,Team_H/A,Team_Score_Tm,Team_Score_Opp,Team_Off_1stD,Team_Off_TotYd,Team_Off_PassYd,...,Opp_Off_TO,Opp_Def_1stD,Opp_Def_TotYd,Opp_Def_PassYd,Opp_Def_RushYD,Opp_Def_TO,Opp_Exp_Offense,Opp_Exp_Defense,Opp_Exp_SpecTms,Result
0,1,49ers,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.000000,...,2.000000,18.500000,271.625000,154.375000,117.250000,1.875000,-2.573750,3.120000,-0.567500,L
1,2,49ers,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.000000,...,1.625000,21.875000,365.375000,250.375000,115.000000,1.250000,1.265000,-4.305000,1.530000,W
2,3,49ers,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.000000,...,1.285714,18.142857,317.000000,211.428571,105.571429,1.428571,4.684286,1.810000,-1.164286,L
3,4,49ers,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.000000,...,2.181818,19.272727,323.090909,235.000000,88.090909,1.727273,2.621818,0.015455,0.578182,W
4,5,49ers,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.000000,...,2.100000,17.100000,282.400000,178.600000,103.800000,1.500000,-6.894000,4.772000,-0.035000,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,4,saints,0.142857,0.142857,0.571429,16.571429,27.571429,14.571429,283.428571,182.714286,...,1.375000,22.000000,342.875000,218.375000,124.500000,2.000000,2.143750,0.177500,-1.373750,L
446,5,saints,0.142857,0.142857,0.571429,16.571429,27.571429,14.571429,283.428571,182.714286,...,1.625000,21.875000,365.375000,250.375000,115.000000,1.250000,1.265000,-4.305000,1.530000,W
451,10,saints,0.142857,0.142857,0.571429,16.571429,27.571429,14.571429,283.428571,182.714286,...,1.400000,19.800000,365.100000,215.000000,150.100000,1.600000,-1.306000,-2.900000,-0.072000,L
499,8,texans,0.000000,0.000000,0.375000,9.750000,27.375000,12.000000,221.000000,148.750000,...,1.833333,22.500000,361.000000,271.500000,89.500000,1.833333,3.473333,-0.823333,-0.740000,L
507,16,texans,0.000000,0.000000,0.375000,9.750000,27.375000,12.000000,221.000000,148.750000,...,1.833333,22.500000,361.000000,271.500000,89.500000,1.833333,3.473333,-0.823333,-0.740000,W

['49ers' 'bears' 'bengals' 'bills' 'broncos' 'browns' 'buccaneers'
 'cardinals' 'chargers' 'chiefs' 'colts' 'commanders' 'cowboys' 'dolphins'
 'eagles' 'falcons' 'giants' 'jaguars' 'jets' 'lions' 'packers' 'panthers'
 'patriots' 'raiders' 'rams' 'ravens' 'saints' 'seahawks' 'steelers'
 'texans' 'titans' 'vikings']

In [35]:
team_name_to_number = {
    '49ers': 0,
    'bears': 1,
    'bengals': 2,
    'bills': 3,
    'broncos': 4,
    'browns': 5,
    'buccaneers': 6,
    'cardinals': 7,
    'chargers': 8,
    'chiefs': 9,
    'colts': 10,
    'commanders': 11,
    'cowboys': 12,
    'dolphins': 13,
    'eagles': 14,
    'falcons': 15,
    'giants': 16,
    'jaguars': 17,
    'jets': 18,
    'lions': 19,
    'packers': 20,
    'panthers': 21,
    'patriots': 22,
    'raiders': 23,
    'rams': 24,
    'ravens': 25,
    'saints': 26,
    'seahawks': 27,
    'steelers': 28,
    'texans': 29,
    'titans': 30,
    'vikings': 31
}

df_2022_agg['Team'] = df_2022_agg['Team'].map(team_name_to_number)
df_2022_agg['Opp'] = df_2022_agg['Opp'].map(team_name_to_number)

result_mapping = {'W': 1, 'L': 0}
df_2022_agg['Result'] = df_2022_agg['Result'].map(result_mapping)


df_2023_agg['Team'] = df_2023_agg['Team'].map(team_name_to_number)
df_2023_agg['Opp'] = df_2023_agg['Opp'].map(team_name_to_number)


df_2023_agg['Result'] = df_2023_agg['Result'].map(result_mapping)

In [36]:
df_2022_agg.dropna(subset = ['Result'], inplace=True)
df_2022_agg['Result'] = df_2022_agg['Result'].astype(int)

df_2023_agg.dropna(subset = ['Result'], inplace=True)
df_2023_agg['Result'] = df_2023_agg['Result'].astype(int)

df_2022_agg

,Week,Team,Team_Result,Team_OT,Team_H/A,Team_Score_Tm,Team_Score_Opp,Team_Off_1stD,Team_Off_TotYd,Team_Off_PassYd,...,Opp_Off_TO,Opp_Def_1stD,Opp_Def_TotYd,Opp_Def_PassYd,Opp_Def_RushYD,Opp_Def_TO,Opp_Exp_Offense,Opp_Exp_Defense,Opp_Exp_SpecTms,Result
0,1,0,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.000000,...,2.000000,18.500000,271.625000,154.375000,117.250000,1.875000,-2.573750,3.120000,-0.567500,0
1,2,0,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.000000,...,1.625000,21.875000,365.375000,250.375000,115.000000,1.250000,1.265000,-4.305000,1.530000,1
2,3,0,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.000000,...,1.285714,18.142857,317.000000,211.428571,105.571429,1.428571,4.684286,1.810000,-1.164286,0
3,4,0,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.000000,...,2.181818,19.272727,323.090909,235.000000,88.090909,1.727273,2.621818,0.015455,0.578182,1
4,5,0,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.000000,...,2.100000,17.100000,282.400000,178.600000,103.800000,1.500000,-6.894000,4.772000,-0.035000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,4,26,0.142857,0.142857,0.571429,16.571429,27.571429,14.571429,283.428571,182.714286,...,1.375000,22.000000,342.875000,218.375000,124.500000,2.000000,2.143750,0.177500,-1.373750,0
446,5,26,0.142857,0.142857,0.571429,16.571429,27.571429,14.571429,283.428571,182.714286,...,1.625000,21.875000,365.375000,250.375000,115.000000,1.250000,1.265000,-4.305000,1.530000,1
451,10,26,0.142857,0.142857,0.571429,16.571429,27.571429,14.571429,283.428571,182.714286,...,1.400000,19.800000,365.100000,215.000000,150.100000,1.600000,-1.306000,-2.900000,-0.072000,0
499,8,29,0.000000,0.000000,0.375000,9.750000,27.375000,12.000000,221.000000,148.750000,...,1.833333,22.500000,361.000000,271.500000,89.500000,1.833333,3.473333,-0.823333,-0.740000,0
507,16,29,0.000000,0.000000,0.375000,9.750000,27.375000,12.000000,221.000000,148.750000,...,1.833333,22.500000,361.000000,271.500000,89.500000,1.833333,3.473333,-0.823333,-0.740000,1

In [37]:
df_agg_combined = pd.concat([df_2022_agg, df_2023_agg], axis = 0)
df_agg_combined

,Week,Team,Team_Result,Team_OT,Team_H/A,Team_Score_Tm,Team_Score_Opp,Team_Off_1stD,Team_Off_TotYd,Team_Off_PassYd,...,Opp_Off_TO,Opp_Def_1stD,Opp_Def_TotYd,Opp_Def_PassYd,Opp_Def_RushYD,Opp_Def_TO,Opp_Exp_Offense,Opp_Exp_Defense,Opp_Exp_SpecTms,Result
0,1,0,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.00,...,2.000000,18.500000,271.625000,154.375000,117.250000,1.875000,-2.573750,3.120000,-0.567500,0
1,2,0,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.00,...,1.625000,21.875000,365.375000,250.375000,115.000000,1.250000,1.265000,-4.305000,1.530000,1
2,3,0,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.00,...,1.285714,18.142857,317.000000,211.428571,105.571429,1.428571,4.684286,1.810000,-1.164286,0
3,4,0,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.00,...,2.181818,19.272727,323.090909,235.000000,88.090909,1.727273,2.621818,0.015455,0.578182,1
4,5,0,0.636364,0.090909,0.363636,23.636364,20.636364,18.818182,358.636364,225.00,...,2.100000,17.100000,282.400000,178.600000,103.800000,1.500000,-6.894000,4.772000,-0.035000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,17,27,0.375000,0.125000,0.250000,19.750000,21.500000,17.000000,311.375000,197.25,...,1.400000,19.800000,365.100000,215.000000,150.100000,1.600000,-1.306000,-2.900000,-0.072000,0
479,4,28,0.500000,0.200000,0.500000,20.700000,26.300000,19.500000,318.600000,222.60,...,2.125000,22.250000,360.875000,202.125000,158.750000,1.750000,-12.305000,-6.358750,1.808750,0
483,9,28,0.500000,0.200000,0.500000,20.700000,26.300000,19.500000,318.600000,222.60,...,1.833333,22.500000,361.000000,271.500000,89.500000,1.833333,3.473333,-0.823333,-0.740000,1
506,15,29,0.000000,0.000000,0.375000,9.750000,27.375000,12.000000,221.000000,148.75,...,1.833333,22.500000,361.000000,271.500000,89.500000,1.833333,3.473333,-0.823333,-0.740000,1
508,17,29,0.000000,0.000000,0.375000,9.750000,27.375000,12.000000,221.000000,148.75,...,1.833333,22.500000,361.000000,271.500000,89.500000,1.833333,3.473333,-0.823333,-0.740000,1

In [38]:
from sklearn.linear_model import LogisticRegression

X_train, X_test, y_train, y_test = train_test_split(df_agg_combined.iloc[:, 1:39], df_agg_combined.iloc[:, 39], test_size = 0.2, random_state = 1)

lr = LogisticRegression(max_iter = 10000)

lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

# Calculate accuracy score
accuracy = accuracy_score(y_test, y_pred)

# Calculate precision
precision = precision_score(y_test, y_pred)

# Calculate recall
recall = recall_score(y_test, y_pred)

# Calculate F1 score
f1 = f1_score(y_test, y_pred)

# Print the scores
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Accuracy: 0.5229357798165137
Precision: 0.5272727272727272
Recall: 0.5272727272727272
F1 Score: 0.5272727272727272

C:\Users\bpawl\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [39]:
lions_2024 = pd.read_excel('lions_2024.xlsx')


lions_2024_team = lions_2024[['Team']]
lions_2024_opp = lions_2024[['Opp']]

lions_2024_team = pd.merge(lions_2024_team, agg_2023, how = 'left', on = 'Team')

for col in lions_2024_team.columns:
    if col not in ['Team']:
        lions_2024_team.rename(columns={col: 'Team_' + col}, inplace=True) 
        
lions_2024_opp = pd.merge(lions_2024_opp, agg_2023, how = 'left', left_on = 'Opp', right_on = 'Team')
lions_2024_opp = lions_2024_opp.drop(columns = 'Team')

for col in lions_2024_opp.columns:
    if col not in ['Opp']:
        lions_2024_opp.rename(columns={col: 'Opp_' + col}, inplace=True)
        

lions_2024_agg = pd.concat([lions_2024_team, lions_2024_opp], axis = 1)

lions_2024_agg['Team'] = lions_2024_agg['Team'].map(team_name_to_number)
lions_2024_agg['Opp'] = lions_2024_agg['Opp'].map(team_name_to_number)


lions_pred = lr.predict(lions_2024_agg)

lions_2024 = pd.concat([lions_2024, pd.DataFrame(lions_pred)], axis = 1)

In [40]:
lions_2024

     Team         Opp  0
0   lions       bears  1
1   lions     packers  0
2   lions     vikings  0
3   lions  buccaneers  0
4   lions        rams  0
5   lions    seahawks  0
6   lions     jaguars  0
7   lions      titans  0
8   lions       bills  0
9   lions     cowboys  0
10  lions   cardinals  0
11  lions       49ers  0
12  lions      texans  1
13  lions       colts  0

In [41]:
chiefs_2024 = pd.read_excel('chiefs_2024.xlsx')


chiefs_2024_team = chiefs_2024[['Team']]
chiefs_2024_opp = chiefs_2024[['Opp']]

chiefs_2024_team = pd.merge(chiefs_2024_team, agg_2023, how = 'left', on = 'Team')

for col in chiefs_2024_team.columns:
    if col not in ['Team']:
        chiefs_2024_team.rename(columns={col: 'Team_' + col}, inplace=True) 
        
chiefs_2024_opp = pd.merge(chiefs_2024_opp, agg_2023, how = 'left', left_on = 'Opp', right_on = 'Team')
chiefs_2024_opp = chiefs_2024_opp.drop(columns = 'Team')

for col in chiefs_2024_opp.columns:
    if col not in ['Opp']:
        chiefs_2024_opp.rename(columns={col: 'Opp_' + col}, inplace=True)
        

chiefs_2024_agg = pd.concat([chiefs_2024_team, chiefs_2024_opp], axis = 1)

chiefs_2024_agg['Team'] = chiefs_2024_agg['Team'].map(team_name_to_number)
chiefs_2024_agg['Opp'] = chiefs_2024_agg['Opp'].map(team_name_to_number)

chiefs_2024_agg.fillna(0, inplace = True)

chiefs_pred = lr.predict(chiefs_2024_agg)

chiefs_2024 = pd.concat([chiefs_2024, pd.DataFrame(chiefs_pred)], axis = 1)

In [42]:
chiefs_2024

      Team         Opp  0
0   chiefs     broncos  1
1   chiefs    chargers  1
2   chiefs     raiders  1
3   chiefs      ravens  0
4   chiefs     bengals  1
5   chiefs      texans  1
6   chiefs      saints  1
7   chiefs  buccaneers  1
8   chiefs    steelers  1
9   chiefs      browns  1
10  chiefs       bills  1
11  chiefs     falcons  1
12  chiefs     pathers  1
13  chiefs       49ers  1

In [43]:
cowboys_2024 = pd.read_excel('cowboys_2024.xlsx')


cowboys_2024_team = cowboys_2024[['Team']]
cowboys_2024_opp = cowboys_2024[['Opp']]

cowboys_2024_team = pd.merge(cowboys_2024_team, agg_2023, how='left', on='Team')

for col in cowboys_2024_team.columns:
    if col not in ['Team']:
        cowboys_2024_team.rename(columns={col: 'Team_' + col}, inplace=True) 
        
cowboys_2024_opp = pd.merge(cowboys_2024_opp, agg_2023, how='left', left_on='Opp', right_on='Team')
cowboys_2024_opp = cowboys_2024_opp.drop(columns='Team')

for col in cowboys_2024_opp.columns:
    if col not in ['Opp']:
        cowboys_2024_opp.rename(columns={col: 'Opp_' + col}, inplace=True)
        

cowboys_2024_agg = pd.concat([cowboys_2024_team, cowboys_2024_opp], axis=1)

cowboys_2024_agg['Team'] = cowboys_2024_agg['Team'].map(team_name_to_number)
cowboys_2024_agg['Opp'] = cowboys_2024_agg['Opp'].map(team_name_to_number)

cowboys_2024_agg.fillna(0, inplace = True)

cowboys_pred = lr.predict(cowboys_2024_agg)

cowboys_2024 = pd.concat([cowboys_2024, pd.DataFrame(cowboys_pred)], axis=1)

In [44]:
cowboys_2024

       Team         Opp  0
0   cowboys      giants  1
1   cowboys      eagles  1
2   cowboys  commanders  1
3   cowboys      saints  1
4   cowboys  buccaneers  1
5   cowboys       lions  1
6   cowboys      ravels  1
7   cowboys     bengals  1
8   cowboys      texans  1
9   cowboys     falcons  1
10  cowboys    panthers  1
11  cowboys       49ers  1
12  cowboys      browns  1
13  cowboys    steelers  1

# NEURAL NETWORK

In [45]:
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.optimizers import Adam, SGD

In [46]:
n_feat = lions_2024_agg.shape[1]

#Input Layer
input_layer = Input(shape=(n_feat,))

#Hidden layers
hidden1 = Dense(64, activation = 'relu')(input_layer)
hidden2 = Dense(32, activation = 'relu')(hidden1)

#Output layer
output_layer = Dense(1, activation = 'sigmoid')(hidden2)

#model
model = Model(inputs = input_layer, outputs = output_layer)

In [48]:
X_train, X_test, y_train, y_test = train_test_split(df_2023_agg.iloc[:, 1:39], df_2023_agg.iloc[:, 39], test_size = 0.2, random_state = 1)

In [49]:
optimizer = Adam(learning_rate = 0.01 )

model.compile(optimizer = optimizer, loss = 'binary_crossentropy', metrics = ['accuracy'])

model.fit(X_train, y_train, epochs = 100, batch_size = 32, validation_split = 0.1)

test_loss, test_acc = model.evaluate(X_test, y_test)
print(test_acc)

Epoch 1/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 5s 89ms/step - accuracy: 0.5493 - loss: 28.9238 - val_accuracy: 0.4545 - val_loss: 6.8324
Epoch 2/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.4304 - loss: 10.0883 - val_accuracy: 0.4545 - val_loss: 6.1154
Epoch 3/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.4579 - loss: 4.2319 - val_accuracy: 0.4545 - val_loss: 2.6118
Epoch 4/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.4978 - loss: 2.0712 - val_accuracy: 0.5909 - val_loss: 2.1023
Epoch 5/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.4850 - loss: 2.4532 - val_accuracy: 0.5000 - val_loss: 1.0796
Epoch 6/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.5429 - loss: 1.1013 - val_accuracy: 0.5455 - val_loss: 1.0130
Epoch 7/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5816 - loss: 1.0336 - val_accuracy: 0.5000 - val_loss: 0.9999
Epoch 8/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.5029 - loss: 1.0869 - val_accuracy: 0.5455 - val_loss: 0.8575
Epoch 9/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.5949 - loss: 0.7933 - val_accuracy: 0.4091 - val_loss: 0.8810
Epoch 10/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.5593 - loss: 0.7062 - val_accuracy: 0.4545 - val_loss: 1.1070
Epoch 11/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.5823 - loss: 0.8409 - val_accuracy: 0.4545 - val_loss: 2.4699
Epoch 12/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.5670 - loss: 1.5510 - val_accuracy: 0.4545 - val_loss: 2.0017
Epoch 13/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.4723 - loss: 1.3561 - val_accuracy: 0.5000 - val_loss: 0.7851
Epoch 14/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.5933 - loss: 0.8239 - val_accuracy: 0.4545 - val_loss: 0.8064
Epoch 15/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5742 - loss: 0.7152 - val_accuracy: 0.4091 - val_loss: 0.8535
Epoch 16/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.5995 - loss: 0.6858 - val_accuracy: 0.5000 - val_loss: 0.7955
Epoch 17/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.6516 - loss: 0.6500 - val_accuracy: 0.5455 - val_loss: 1.2642
Epoch 18/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.5442 - loss: 1.0542 - val_accuracy: 0.4545 - val_loss: 1.0706
Epoch 19/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.5347 - loss: 1.0281 - val_accuracy: 0.4091 - val_loss: 0.8321
Epoch 20/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.5645 - loss: 0.7509 - val_accuracy: 0.5455 - val_loss: 1.3372
Epoch 21/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5858 - loss: 1.2530 - val_accuracy: 0.5455 - val_loss: 1.2029
Epoch 22/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.5504 - loss: 1.2450 - val_accuracy: 0.5455 - val_loss: 1.3890
Epoch 23/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5579 - loss: 1.4203 - val_accuracy: 0.4545 - val_loss: 0.9817
Epoch 24/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.5528 - loss: 0.9729 - val_accuracy: 0.4545 - val_loss: 1.6248
Epoch 25/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5555 - loss: 1.0483 - val_accuracy: 0.5455 - val_loss: 0.8352
Epoch 26/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.5736 - loss: 0.7544 - val_accuracy: 0.4091 - val_loss: 0.8354
Epoch 27/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.5438 - loss: 0.7525 - val_accuracy: 0.4091 - val_loss: 0.8498
Epoch 28/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.5710 - loss: 0.7710 - val_accuracy: 0.4545 - val_loss: 0.8130
Epoch 29/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.6023 - loss: 0.7077 - val_accuracy: 0.4091 - val_loss: 0.8270
Epoch 30/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.6016 - loss: 0.6756 - val_accuracy: 0.3636 - val_loss: 0.8603
Epoch 31/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.5625 - loss: 0.7371 - val_accuracy: 0.5000 - val_loss: 0.8992
Epoch 32/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.5523 - loss: 0.9481 - val_accuracy: 0.4545 - val_loss: 1.1053
Epoch 33/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.6114 - loss: 0.9119 - val_accuracy: 0.4545 - val_loss: 1.8337
Epoch 34/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5313 - loss: 1.0597 - val_accuracy: 0.4091 - val_loss: 0.7899
Epoch 35/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6068 - loss: 0.8008 - val_accuracy: 0.5455 - val_loss: 0.8772
Epoch 36/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.5125 - loss: 0.8192 - val_accuracy: 0.5455 - val_loss: 0.9268
Epoch 37/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.5163 - loss: 0.9293 - val_accuracy: 0.4091 - val_loss: 0.9708
Epoch 38/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.6022 - loss: 0.7081 - val_accuracy: 0.5000 - val_loss: 0.7938
Epoch 39/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.6017 - loss: 0.6751 - val_accuracy: 0.4545 - val_loss: 0.8319
Epoch 40/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.5846 - loss: 0.6617 - val_accuracy: 0.4545 - val_loss: 0.7802
Epoch 41/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.6367 - loss: 0.6520 - val_accuracy: 0.5000 - val_loss: 0.7504
Epoch 42/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.5978 - loss: 0.7048 - val_accuracy: 0.4545 - val_loss: 0.7590
Epoch 43/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.6405 - loss: 0.6810 - val_accuracy: 0.4545 - val_loss: 1.1783
Epoch 44/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.5317 - loss: 0.7967 - val_accuracy: 0.4545 - val_loss: 0.8984
Epoch 45/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5245 - loss: 0.8179 - val_accuracy: 0.5455 - val_loss: 0.9985
Epoch 46/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.5146 - loss: 0.9208 - val_accuracy: 0.4545 - val_loss: 1.0540
Epoch 47/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.5392 - loss: 0.7733 - val_accuracy: 0.4545 - val_loss: 0.7936
Epoch 48/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5453 - loss: 0.7346 - val_accuracy: 0.3636 - val_loss: 0.7856
Epoch 49/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.6133 - loss: 0.6287 - val_accuracy: 0.5000 - val_loss: 0.7405
Epoch 50/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.5927 - loss: 0.6557 - val_accuracy: 0.5455 - val_loss: 0.7327
Epoch 51/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6659 - loss: 0.6254 - val_accuracy: 0.4545 - val_loss: 0.7620
Epoch 52/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.6582 - loss: 0.6482 - val_accuracy: 0.5455 - val_loss: 0.7758
Epoch 53/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.6248 - loss: 0.6154 - val_accuracy: 0.4545 - val_loss: 0.8453
Epoch 54/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.5769 - loss: 0.6799 - val_accuracy: 0.3636 - val_loss: 0.7882
Epoch 55/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.6226 - loss: 0.6315 - val_accuracy: 0.4545 - val_loss: 0.7265
Epoch 56/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6521 - loss: 0.6387 - val_accuracy: 0.5909 - val_loss: 0.7417
Epoch 57/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.6596 - loss: 0.6093 - val_accuracy: 0.4545 - val_loss: 0.7720
Epoch 58/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.5978 - loss: 0.6675 - val_accuracy: 0.5455 - val_loss: 0.7877
Epoch 59/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.6699 - loss: 0.6306 - val_accuracy: 0.3636 - val_loss: 0.8143
Epoch 60/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.6583 - loss: 0.6197 - val_accuracy: 0.5000 - val_loss: 0.7960
Epoch 61/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.6577 - loss: 0.6307 - val_accuracy: 0.4545 - val_loss: 0.8039
Epoch 62/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6446 - loss: 0.6387 - val_accuracy: 0.4091 - val_loss: 0.8025
Epoch 63/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.6314 - loss: 0.6312 - val_accuracy: 0.5000 - val_loss: 0.7513
Epoch 64/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6231 - loss: 0.6493 - val_accuracy: 0.4091 - val_loss: 0.8006
Epoch 65/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.6599 - loss: 0.6234 - val_accuracy: 0.4091 - val_loss: 0.8362
Epoch 66/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.5937 - loss: 0.6730 - val_accuracy: 0.3636 - val_loss: 0.8625
Epoch 67/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5853 - loss: 0.6803 - val_accuracy: 0.5000 - val_loss: 1.0108
Epoch 68/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.5476 - loss: 0.8515 - val_accuracy: 0.5000 - val_loss: 0.8317
Epoch 69/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5822 - loss: 0.7317 - val_accuracy: 0.5000 - val_loss: 0.7400
Epoch 70/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.6085 - loss: 0.6535 - val_accuracy: 0.5000 - val_loss: 0.7589
Epoch 71/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.6169 - loss: 0.6876 - val_accuracy: 0.4545 - val_loss: 0.7524
Epoch 72/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.5934 - loss: 0.6620 - val_accuracy: 0.5455 - val_loss: 0.7601
Epoch 73/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.5932 - loss: 0.6426 - val_accuracy: 0.5000 - val_loss: 0.7853
Epoch 74/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.6617 - loss: 0.6264 - val_accuracy: 0.5455 - val_loss: 0.7707
Epoch 75/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5678 - loss: 0.7031 - val_accuracy: 0.4545 - val_loss: 0.8047
Epoch 76/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5746 - loss: 0.6728 - val_accuracy: 0.3636 - val_loss: 0.7687
Epoch 77/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.6863 - loss: 0.6023 - val_accuracy: 0.3636 - val_loss: 0.7740
Epoch 78/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.7085 - loss: 0.6028 - val_accuracy: 0.4545 - val_loss: 0.7905
Epoch 79/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6381 - loss: 0.6413 - val_accuracy: 0.5000 - val_loss: 0.7625
Epoch 80/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6124 - loss: 0.6300 - val_accuracy: 0.4091 - val_loss: 0.8116
Epoch 81/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6542 - loss: 0.5957 - val_accuracy: 0.4545 - val_loss: 0.7924
Epoch 82/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.7007 - loss: 0.5973 - val_accuracy: 0.3636 - val_loss: 0.8316
Epoch 83/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.6343 - loss: 0.6409 - val_accuracy: 0.4545 - val_loss: 0.8558
Epoch 84/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.6035 - loss: 0.6221 - val_accuracy: 0.4545 - val_loss: 0.7832
Epoch 85/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.7008 - loss: 0.5856 - val_accuracy: 0.4545 - val_loss: 0.8258
Epoch 86/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.5995 - loss: 0.6429 - val_accuracy: 0.5000 - val_loss: 0.8052
Epoch 87/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.6457 - loss: 0.6223 - val_accuracy: 0.4545 - val_loss: 0.7895
Epoch 88/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6790 - loss: 0.6298 - val_accuracy: 0.4545 - val_loss: 0.7787
Epoch 89/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.6099 - loss: 0.6479 - val_accuracy: 0.5000 - val_loss: 0.9146
Epoch 90/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.6171 - loss: 0.7073 - val_accuracy: 0.5000 - val_loss: 0.8445
Epoch 91/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.5915 - loss: 0.7101 - val_accuracy: 0.4545 - val_loss: 0.8041
Epoch 92/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.5683 - loss: 0.7126 - val_accuracy: 0.5909 - val_loss: 0.7327
Epoch 93/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6305 - loss: 0.6416 - val_accuracy: 0.3636 - val_loss: 0.7765
Epoch 94/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6081 - loss: 0.6327 - val_accuracy: 0.4091 - val_loss: 0.7988
Epoch 95/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6382 - loss: 0.6071 - val_accuracy: 0.4091 - val_loss: 0.8142
Epoch 96/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6584 - loss: 0.6136 - val_accuracy: 0.3636 - val_loss: 0.8535
Epoch 97/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.5410 - loss: 0.6943 - val_accuracy: 0.4091 - val_loss: 0.8692
Epoch 98/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.5368 - loss: 0.7383 - val_accuracy: 0.5455 - val_loss: 0.7425
Epoch 99/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.6127 - loss: 0.6702 - val_accuracy: 0.4545 - val_loss: 0.9131
Epoch 100/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.5474 - loss: 0.7878 - val_accuracy: 0.4091 - val_loss: 0.8710
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.5390 - loss: 0.8063
0.5272727012634277

In [50]:
y_pred = model.predict(lions_2024_agg)

pred_classes = (y_pred > 0.5).astype(int)

lions_2024['W/L'] = pred_classes

lions_2024

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 98ms/step

     Team         Opp  0  W/L
0   lions       bears  1    1
1   lions     packers  0    0
2   lions     vikings  0    0
3   lions  buccaneers  0    0
4   lions        rams  0    0
5   lions    seahawks  0    0
6   lions     jaguars  0    0
7   lions      titans  0    0
8   lions       bills  0    1
9   lions     cowboys  0    0
10  lions   cardinals  0    1
11  lions       49ers  0    1
12  lions      texans  1    0
13  lions       colts  0    1

In [51]:
y_pred = model.predict(chiefs_2024_agg)

pred_classes = (y_pred > 0.5).astype(int)

chiefs_2024['W/L'] = pred_classes

chiefs_2024

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step

      Team         Opp  0  W/L
0   chiefs     broncos  1    1
1   chiefs    chargers  1    1
2   chiefs     raiders  1    0
3   chiefs      ravens  0    0
4   chiefs     bengals  1    0
5   chiefs      texans  1    0
6   chiefs      saints  1    0
7   chiefs  buccaneers  1    1
8   chiefs    steelers  1    0
9   chiefs      browns  1    1
10  chiefs       bills  1    1
11  chiefs     falcons  1    0
12  chiefs     pathers  1    0
13  chiefs       49ers  1    1

In [52]:
y_pred = model.predict(cowboys_2024_agg)

pred_classes = (y_pred > 0.5).astype(int)

cowboys_2024['W/L'] = pred_classes

cowboys_2024

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step

       Team         Opp  0  W/L
0   cowboys      giants  1    0
1   cowboys      eagles  1    1
2   cowboys  commanders  1    1
3   cowboys      saints  1    1
4   cowboys  buccaneers  1    1
5   cowboys       lions  1    0
6   cowboys      ravels  1    0
7   cowboys     bengals  1    1
8   cowboys      texans  1    1
9   cowboys     falcons  1    1
10  cowboys    panthers  1    1
11  cowboys       49ers  1    1
12  cowboys      browns  1    1
13  cowboys    steelers  1    1