In [10]:
import pandas as pd
import os

In [11]:
folder_path = r'C:\Users\krizm\Downloads\CSE482\CMSE482ProjectGithub\2022'
files = os.listdir(folder_path)
csv_files = [file for file in files if file.endswith('.csv')]

dfs = []

if len(csv_files) == 0:
    print("No CSV files found in the specified folder.")
else:
    for csv_file in csv_files:
        csv_file_path = os.path.join(folder_path, csv_file)
        try:
            df = pd.read_csv(csv_file_path, encoding='utf-8')
            team_name = csv_file.split('2022')[0]
            df.insert(1, 'Team', team_name)
            dfs.append(df)
        except Exception as e:
            print(f"Error reading file {csv_file}: {e}")

if len(dfs) == 0:
    print("No dataframes were created.")
else:
    concatenated_df = pd.concat(dfs, ignore_index=True)
    print(concatenated_df)

          Week     Team  Day          Date       Time  boxscore  W/L   OT  \
0            1    49ers  Sun  September 11  1:00PM ET  boxscore    L  NaN
1            2    49ers  Sun  September 18  4:05PM ET  boxscore    W  NaN
2            3    49ers  Sun  September 25  8:20PM ET  boxscore    L  NaN
3            4    49ers  Mon     October 3  8:15PM ET  boxscore    W  NaN
4            5    49ers  Sun     October 9  4:05PM ET  boxscore    W  NaN
..         ...      ...  ...           ...        ...       ...  ...  ...
611         16  vikings  Sat   December 24  1:00PM ET  boxscore    W  NaN
612         17  vikings  Sun     January 1  4:25PM ET  boxscore    L  NaN
613         18  vikings  Sun     January 8  1:00PM ET  boxscore    W  NaN
614        NaN  vikings  NaN      Playoffs        NaN       NaN  NaN  NaN
615  Wild Card  vikings  Sun    January 15  4:30PM ET  boxscore    L  NaN

      Rec Home/Away  ...  RushY   TO  1stD.1  TotYd.1  PassY.1  RushY.1  TO.1  \
0     0-1         @  ...  176.0  2.0    15.0    204.0    105.0     99.0   1.0
1     1-1       NaN  ...  189.0  NaN    14.0    216.0    180.0     36.0   3.0
2     1-2         @  ...   88.0  3.0    14.0    261.0    160.0    101.0   NaN
3     2-2       NaN  ...   88.0  NaN    21.0    257.0    200.0     57.0   2.0
4     3-2         @  ...  153.0  1.0    15.0    308.0    244.0     64.0   1.0
..    ...       ...  ...    ...  ...     ...      ...      ...      ...   ...
611  12-3       NaN  ...   83.0  NaN    23.0    445.0    319.0    126.0   2.0
612  12-4         @  ...  102.0  4.0    20.0    315.0    152.0    163.0   NaN
613  13-4         @  ...  141.0  2.0    13.0    259.0    141.0    118.0   2.0
614   NaN       NaN  ...    NaN  NaN     NaN      NaN      NaN      NaN   NaN
615  13-5       NaN  ...   61.0  NaN    28.0    431.0    289.0    142.0   NaN

     Offense  Defense  Sp. Tms
0     -11.26    -0.67     0.42
1      16.39     9.18    -7.67
2     -16.39    13.59    -1.26
3      10.05    11.56    -7.93
4      16.04    13.22    -7.82
..       ...      ...      ...
611     7.38    -6.20     3.12
612   -10.20    -9.54    -4.19
613    16.54     5.75    -5.65
614      NaN      NaN      NaN
615    13.86   -24.00     3.74

[616 rows x 26 columns]

In [12]:
concatenated_df

,Week,Team,Day,Date,Time,boxscore,W/L,OT,Rec,Home/Away,...,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms
0,1,49ers,Sun,September 11,1:00PM ET,boxscore,L,NaN,0-1,@,...,176.0,2.0,15.0,204.0,105.0,99.0,1.0,-11.26,-0.67,0.42
1,2,49ers,Sun,September 18,4:05PM ET,boxscore,W,NaN,1-1,NaN,...,189.0,NaN,14.0,216.0,180.0,36.0,3.0,16.39,9.18,-7.67
2,3,49ers,Sun,September 25,8:20PM ET,boxscore,L,NaN,1-2,@,...,88.0,3.0,14.0,261.0,160.0,101.0,NaN,-16.39,13.59,-1.26
3,4,49ers,Mon,October 3,8:15PM ET,boxscore,W,NaN,2-2,NaN,...,88.0,NaN,21.0,257.0,200.0,57.0,2.0,10.05,11.56,-7.93
4,5,49ers,Sun,October 9,4:05PM ET,boxscore,W,NaN,3-2,@,...,153.0,1.0,15.0,308.0,244.0,64.0,1.0,16.04,13.22,-7.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,16,vikings,Sat,December 24,1:00PM ET,boxscore,W,NaN,12-3,NaN,...,83.0,NaN,23.0,445.0,319.0,126.0,2.0,7.38,-6.20,3.12
612,17,vikings,Sun,January 1,4:25PM ET,boxscore,L,NaN,12-4,@,...,102.0,4.0,20.0,315.0,152.0,163.0,NaN,-10.20,-9.54,-4.19
613,18,vikings,Sun,January 8,1:00PM ET,boxscore,W,NaN,13-4,@,...,141.0,2.0,13.0,259.0,141.0,118.0,2.0,16.54,5.75,-5.65
614,NaN,vikings,NaN,Playoffs,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,Wild Card,vikings,Sun,January 15,4:30PM ET,boxscore,L,NaN,13-5,NaN,...,61.0,NaN,28.0,431.0,289.0,142.0,NaN,13.86,-24.00,3.74