In [16]:
import pandas as pd
import os

In [17]:
folder_path = r'C:\Users\krizm\Downloads\CSE482\CMSE482ProjectGithub\2021'
files = os.listdir(folder_path)
csv_files = [file for file in files if file.endswith('.csv')]

dfs = []

if len(csv_files) == 0:
    print("No CSV files found in the specified folder.")
else:
    for csv_file in csv_files:
        csv_file_path = os.path.join(folder_path, csv_file)
        try:
            df = pd.read_csv(csv_file_path, encoding='utf-8')
            team_name = csv_file.split('2021')[0]
            df.insert(1, 'Team', team_name)
            dfs.append(df)
        except Exception as e:
            print(f"Error reading file {csv_file}: {e}")

if len(dfs) == 0:
    print("No dataframes were created.")
else:
    concatenated_df = pd.concat(dfs, ignore_index=True)
    print(concatenated_df)

    Week     Team  Day          Date       Time  boxscore W/L   OT  Rec  \
0      1    49ers  Sun  September 12  1:00PM ET  boxscore   W  NaN  1-0
1      2    49ers  Sun  September 19  1:00PM ET  boxscore   W  NaN  2-0
2      3    49ers  Sun  September 26  8:20PM ET  boxscore   L  NaN  2-1
3      4    49ers  Sun     October 3  4:05PM ET  boxscore   L  NaN  2-2
4      5    49ers  Sun    October 10  4:25PM ET  boxscore   L  NaN  2-3
..   ...      ...  ...           ...        ...       ...  ..  ...  ...
611   14  vikings  Thu    December 9  8:20PM ET  boxscore   W  NaN  6-7
612   15  vikings  Mon   December 20  8:15PM ET  boxscore   W  NaN  7-7
613   16  vikings  Sun   December 26  1:00PM ET  boxscore   L  NaN  7-8
614   17  vikings  Sun     January 2  8:20PM ET  boxscore   L  NaN  7-9
615   18  vikings  Sun     January 9  1:00PM ET  boxscore   W  NaN  8-9

    Home/Away  ...  RushY   TO  1stD.1  TotYd.1  PassY.1  RushY.1  TO.1  \
0           @  ...  131.0  2.0    31.0    430.0    314.0    116.0   1.0
1           @  ...  117.0  NaN    18.0    328.0    177.0    151.0   NaN
2         NaN  ...   67.0  2.0    21.0    353.0    253.0    100.0   NaN
3         NaN  ...  143.0  2.0    14.0    234.0    129.0    105.0   NaN
4           @  ...  152.0  1.0    20.0    304.0    210.0     94.0   1.0
..        ...  ...    ...  ...     ...      ...      ...      ...   ...
611       NaN  ...  242.0  2.0    22.0    375.0    269.0    106.0   1.0
612         @  ...  132.0  1.0    24.0    370.0    255.0    115.0   3.0
613       NaN  ...   66.0  1.0    22.0    356.0    197.0    159.0   3.0
614         @  ...   27.0  NaN    29.0    481.0    307.0    174.0   NaN
615       NaN  ...  104.0  NaN    24.0    356.0    266.0     90.0   2.0

     Offense  Defense  Sp. Tms
0      15.48    -5.16    -1.73
1       7.86    -5.30     2.68
2      12.19   -15.14     0.95
3       8.61    -2.20   -14.31
4      -6.53    -1.74    -0.47
..       ...      ...      ...
611     8.68    -6.41     1.31
612    -4.65     7.72     5.92
613    -1.81     0.84    -7.80
614   -13.56   -21.96     7.80
615     7.18    12.22    -1.20

[616 rows x 26 columns]

In [18]:
concatenated_df

,Week,Team,Day,Date,Time,boxscore,W/L,OT,Rec,Home/Away,...,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms
0,1,49ers,Sun,September 12,1:00PM ET,boxscore,W,NaN,1-0,@,...,131.0,2.0,31.0,430.0,314.0,116.0,1.0,15.48,-5.16,-1.73
1,2,49ers,Sun,September 19,1:00PM ET,boxscore,W,NaN,2-0,@,...,117.0,NaN,18.0,328.0,177.0,151.0,NaN,7.86,-5.30,2.68
2,3,49ers,Sun,September 26,8:20PM ET,boxscore,L,NaN,2-1,NaN,...,67.0,2.0,21.0,353.0,253.0,100.0,NaN,12.19,-15.14,0.95
3,4,49ers,Sun,October 3,4:05PM ET,boxscore,L,NaN,2-2,NaN,...,143.0,2.0,14.0,234.0,129.0,105.0,NaN,8.61,-2.20,-14.31
4,5,49ers,Sun,October 10,4:25PM ET,boxscore,L,NaN,2-3,@,...,152.0,1.0,20.0,304.0,210.0,94.0,1.0,-6.53,-1.74,-0.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,14,vikings,Thu,December 9,8:20PM ET,boxscore,W,NaN,6-7,NaN,...,242.0,2.0,22.0,375.0,269.0,106.0,1.0,8.68,-6.41,1.31
612,15,vikings,Mon,December 20,8:15PM ET,boxscore,W,NaN,7-7,@,...,132.0,1.0,24.0,370.0,255.0,115.0,3.0,-4.65,7.72,5.92
613,16,vikings,Sun,December 26,1:00PM ET,boxscore,L,NaN,7-8,NaN,...,66.0,1.0,22.0,356.0,197.0,159.0,3.0,-1.81,0.84,-7.80
614,17,vikings,Sun,January 2,8:20PM ET,boxscore,L,NaN,7-9,@,...,27.0,NaN,29.0,481.0,307.0,174.0,NaN,-13.56,-21.96,7.80
615,18,vikings,Sun,January 9,1:00PM ET,boxscore,W,NaN,8-9,NaN,...,104.0,NaN,24.0,356.0,266.0,90.0,2.0,7.18,12.22,-1.20